@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  black;
    font-family: "Roboto", sans-serif;
    color: white;
    height: 100vh;
    
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    background-color: #008080; /* Teal */
}


.outer-container {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}



.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", 'sans-serif';
}


.sub-title {
    
    font-family: "Poppins", roboto;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    color: gold;
    text-align: center;
    
}



.inner-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.quote-container {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 400px;
    height: 300px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    
}


h3 {


    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-top: 2px dashed Teal;
    border-bottom: 2px dashed Teal;
    padding: 5px;
    color: Teal;
    margin-top: 10px;
   
}

.quote {
    
    font-family: "Poppins", sans-serif;
    font-size: 18px;
   font-weight: 400;
    text-align: center;
    margin-top: 20px;
    color: maroon;
    width: 280px;
    height: 250px;
}


.quote-mark {
    font-size: 22px;
 
}

.author {
    font-family: "Montserrat", poppins;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    color: Teal;
 
    
}


.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}


#prev, #next {
    
    background: #008080; /* Teal */
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: 0.15s;
}


#prev:hover {
    background: white;
    border: 1px solid #008080; /* Teal */
    color: #008080; /* Teal */
    
}

#next:hover {
    background: white;
    border: 1px solid #008080; /* Teal */
    color: #008080; /* Teal */
    
}

.speaker {
    background: white;
    width: 40px;
    height: 40px;
    border: 1px solid #008080; /* Teal */
    border-radius: 50px;
    margin-right: 50px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.15s;
    color: #008080; /* Teal */
}


.speaker:hover {
    background:  #008080; /* Teal */
}


footer {
    
    margin-top: 70px;
}



@media(min-width: 1024px){
    
       .quote {
    
    width: 370px;
    height: 320px;
}
    
    
    
}

@media(max-width: 768px){
    
    main {
    width: 100%;
    height: 80vh;
   
}


outer-container {
    
    display: flex;
    flex-direction: column;
}

    
   .quote-container {
    
    width: 320px;
    height: 350px;
    padding: 10px;
    
}

.title {
    
    margin-top: -390px;
    margin-right: -40px;
    width: 280px;
}
    
.inner-container {
    
    margin-top: 150px;
    margin-left: -300px;
    
   }

    
    .quote {
    
    width: 280px;
    height: 250px;
}
    
    
    
   
.btn {

    gap: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}


.speaker {
    margin-right: 0;
}
    
    
   footer {
    
    margin-top: 25px;
}
    
}


@media(max-width: 435px){
    
       
   .quote-container {
    
    width: 300px;
    height: 350px;
    padding: 10px;
    
}


   .quote {
    
    width: 280px;
    height: 250px;
}
    
   
    
}





@media(max-width: 375px){
    
    .inner-container {
    
    margin-top: 150px;
    margin-left: -275px;
    
   }
   
     .title {
       
       margin-right: -60px;
   }
   
   
   
      .quote {
    
    width: 280px;
    height: 250px;
}
    
    
   
   
   
   footer {
       
       margin-top: 40px;
   }
    
    
    
}

@media(max-width: 320px){
   
   main {
    width: 100%;
    height: 70vh;
   
}

   
  
    .inner-container {
    
    margin-top: 130px;
    margin-left: -280px;
    
   }
    
    
   .title {
       
       margin-right: -50px;
   }
   
   
      .quote {
    
    width: 280px;
    height: 250px;
}
    
    
   
   
}
